#ButtonLocations{
    position:absolute;
    left:5%;
    width:15%;
    top:150px;
    height:150px;
    border-style:solid;
}

#CreateChar{
    position:absolute;
    left:5%;
    width:90%;
}

#MyCharList{
    position:absolute;
    left:25%;
    width:50%;
    top:150px;
    border-style:solid;
}

#MyCharTable{
    width:100%;
    height:100%;
}

#ColourCode{
    background-color:rgb(166, 166, 166);
}
