#Img_scroll {
    position: absolute;
    top: 40px;
    left: 500px;
    width: 600px;
    height: 864px;
}

#Inventory{
    position: absolute;
    left:540px;
    top:155px;
    width:250px;
    height:630px;
    border-style:solid;
}

.resizetest{
    max-height:100%;
    width:100%;
    max-width:100%;
}

#AllItems{
    position: absolute;
    left:1100px;
    width:350px;
    top:155px;
    height:600px;
    border-style:solid;
}

#AllItemsBox{
    position:absolute;
    top:50px;
    height:475px;
}

#AddButton{
    position:absolute;
    left:50px;
    top:537px;
    height:50px;
    width:200px;

}

#Buttons{
    position: absolute;
    left: 800px;
    width:250px;
    top:465px;
    height:320px;
    border-style:solid;
}

#InventoryList{
    height:624px;
    width:150px;
}