
@{
    ViewBag.Title = "Inventory";
    var MyInventory = @ViewBag.Inventory;
    //test
    var test = 1;
}

<head>
    <title> test </title>
    <link href="~/Content/Inventory.css" rel="stylesheet" />
    <script src="~/Scripts/Inventory.js"></script>
</head>


<body>
<img src="~/Resources/Scroll2.jpg" id="Img_scroll">
    <div id="Inventory">
        <select name="test" size="9999" id="InventoryList">
            <option>text1</option>
            <option>text2</option>
            <option>text3</option>
            <option>text4</option>
            <option>text5</option>
        </select>
    </div>
    <div id="CurSelectItem">

    </div>
    <div id="Buttons">

    </div>
    <script>
        var Item = "@MyInventory[2]";
        var Item2 = "@MyInventory[1]";
        var Items = [Item, Item2];
        CreateInventory(Items)
       
    </script>
</body>