
@model DnDApp.Models.Inventory

@{
    ViewBag.Title = "Inventory";
    var MyInventory = @ViewBag.Inventory;
    var AllItems = @ViewBag.AllItems;
}

    <link href="~/Content/Inventory.css" rel="stylesheet" />
    <script src="~/Scripts/Inventory.js"></script>

<div>
    @using (Html.BeginForm()) { 
    <img src="~/Resources/Scroll2.jpg" id="Img_scroll">
    <div id="Inventory">
    </div>
    <div id="CurSelectItem">

    </div>
    <div id="Buttons">

    </div>   
    }
</div>
    <script>
        var Item = "@MyInventory[2]";
        var Item2 = "@MyInventory[1]";
        var Items = [Item, Item2];
        CreateInventory(Items)
       
    </script>