
@model DnDApp.Models.Inventory

@{
    ViewBag.Title = "Inventory";
    var AllItems = @ViewBag.AllItems;
    var Inventory = @ViewBag.Inventory;
}

    <link href="~/Content/Inventory.css" rel="stylesheet" />
    <script src="~/Scripts/Inventory.js"></script>

<div>
    @using (Html.BeginForm()) { 
    <img src="~/Resources/Scroll2.jpg" id="Img_scroll">
    <div id="Inventory">
        @Html.ListBoxFor(u=> u.SelectedItems, new MultiSelectList(Inventory.MyItems, "Id", "Showable"), new{@Class="resizetest", size=40})
    </div>
    <div id="AllItems">
        <h3>All items</h3>
        @Html.ListBoxFor(u=> u.ToBeAddedItems, new MultiSelectList(AllItems, "Id", "Name" ), new {@Id="AllItemsBox", @Class="resizetest", size=50})
            <input type="submit" name="command" value="Add" id="AddButton"/>
            <input type="submit" name="command" value="More info" id="MoreInfoButton" />
    </div>
    <div id="Buttons">
        <input type="submit" name="command" value="Increase +1" />
        <input type="submit" name="command" value="Increase +10" />
        <input type="submit" name="command" value="Increase +20" />
        <input type="submit" name="command" value="Decrease -1" />
        <input type="submit" name="command" value="Decrease -10" />
        <input type="submit" name="command" value="Decrease -20" />
        <input type="submit" name="command" value="Remove" />
        <input type="submit" name="command" value="More Info" />
    </div>   
    }
</div>