
@model DnDApp.Models.Inventory

@{
    ViewBag.Title = "Spellbook";
    var AllSpells = @ViewBag.AllSpells;
    var MySpellBook = @ViewBag.MySpellBook;
}

<div>
    @using (Html.BeginForm())
    {
        <img src="~/Resources/Scroll2.jpg" id="Img_scroll">
        <div id="MySpellBook">
            @Html.ListBoxFor(u => u.SelectedItems, new MultiSelectList(MySpellBook.MySpells, "SpellName", "Showable"), new { size = 40 })
        </div>
        <div>
            @Html.ListBoxFor(u => u.ToBeAddedItems, new MultiSelectList(AllSpells, "SpellName", "SpellName"), new{size=50})
        </div>
    }
</div>

