@model DnDApp.Models.AppUser
@{
    ViewBag.Title = "Register";
}


<head>
    <title>Log in screen</title>
    <link href="~/Content/LogInScreen.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
            <h3> Register</h3>
            <p> Please enter your desired username and password</p>
        <div id="LoginScreen">
            <div id="UserNameDiv">
                <h3 id="UserTag">Username:</h3>
                @Html.TextBoxFor(u => u.UserName, new { @id = "UserName", placeholder = "Username", @Class = "form-control" })
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
            <div id="PasswordDiv">
                <h3 id="PassTag">Password:</h3>
                @Html.TextBoxFor(u => u.Password, new { @id = "Password", placeholder = "Password", @Class = "form-control" })
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div id="Buttons">
                <input type="submit" value="Register" class="btn" id="LogInButton" />
                <input type="button" value="Got an account?" class="btn" id="RegisterButton" onclick="location.href='LogInScreen'" />
            </div>
        </div>
    }
</body>